@keyframes animate-circle {
	0% {
		transform: rotate( 0deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

.vpinsight__spinner {
	width: 90px;
	height: 90px;

	background-color: rgba( #1D6FDC, 0.2 );

	animation: animate-circle 10s linear infinite;
}

