.vpinsight-logo-guest {
  &--image {
    width: 60px;
    height: 33px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url( "/images/logos/logo.svg" );
    margin-right: 10px;
  }
}
