.reviews__landing-hero-section {
  width: 100%;
  min-height: calc( 100vh + 5.25rem );

  background-color: #fff;
  background-image: url('#{ $imagesRootURL }/landing/hero-bg.png'), linear-gradient(to bottom, rgba(29, 111, 220, 0), rgba(29, 111, 220, 0.1));
  background-position: 35% 75%, 0px 0px;
  background-size: auto 714px, 100% calc( 100% + 5.25rem );
  background-repeat: repeat-x, no-repeat;

  margin-top: -5.25rem;
  // padding-top: 5.25rem;

  .reviews__landing-intersection-block:first-child {
    top: -3rem !important;
  }
}


.vpinsight__main.vpinsight__main_hide-tag-filter .reviews__landing-hero-section {
  margin-top: -5.25rem;
  // padding-top: 5.25rem;
}

.reviews__landing-hero-picture {
  max-width: 1092px;
  width: 85%;
}

.reviews__landing-hero-picture:before {
  content: " ";
  display: block;

  height: 0px;
  padding-bottom: 50.9%;

  background-image: url('#{ $imagesRootURL }/landing/hero-picture.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.reviews__landing-counter-block {}

@media (max-width: 991px) {
  .reviews__landing-hero-section {
    min-height: 0px;
  }
  .reviews__landing-hero-picture {
    width: calc( 100% + 3rem );
  }

  .reviews__landing-hero-picture:before {
    background-image: url('#{ $imagesRootURL }/landing/hero-picture_mobile.png');

    padding-bottom: 58%;
  }
}