.competition-image {
  width: 80px;
  height: 80px;
}

.competition-item {
  transition: box-shadow .3s ease-out;
  position: relative;

  &.active-item {

    margin-right: 24px;
    padding-right: 25px;

    &:after {
      content: '';
      display: block;
      width: 6px;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #1d6fdc;
      position: absolute;
    }
  }

  &.modal-item {
    margin: 0;
    cursor: default;
  }
}

@media screen and (max-width: 768px) {
  .competition-item {
    padding-bottom: 35px;
    &--properties {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      padding: 0 15px;
      justify-content: space-between;
    }
  }

  .competition-image {
    width: 60px;
    height: 60px;
  }
}

